/*  Stylesheet for the Meteor Slides 1.5.3 slideshow

	Copy "meteor-slides.css" from "/meteor-slides/css/" to your theme's directory to replace
	the plugin's default stylesheet.

	If you have navigation enabled, be sure to copy the "buttons.png", "next.png",
	and "prev.png" files to your theme's images folder and update the image paths below,
	or create new graphics to replace them.

	Learn more about customizing the stylesheet for Meteor Slides:
	http://www.jleuze.com/plugins/meteor-slides/customizing-the-stylesheet/
*/

/* =Slideshow
-------------------------------------------------------------- */
.meteor-slides {
    width: 100% !important;
    line-height: 0;
}
.meteor-slides  img{
    width: 100% !important;
}
.mslide{
    width: 100% !important;
}
.meteor-slides  {
    height: auto !important;
}
.slide-title {
    position: absolute;
    background: url(images/bg-slide-tile.png) no-repeat left bottom;
    padding: 0 0 30px 50px;
    z-index: 9999;
    right:0;
    width: 35%;
    top: 38%;
    color: #FFF;
}
.slide-text {
    font-size: 20px;
    line-height: 25px;
    position: absolute;
    padding: 0 0 30px 50px;
    z-index: 9999;
    right:0;
    width: 35%;
    top: 50%;
    color: #FFF;
}
/* =Previous/Next Navigation
-------------------------------------------------------------- */

.meteor-slides ul.meteor-nav {
    list-style: none;
    height: auto;
    margin: 0 !important;
    padding: 0;
}
.meteor-slides.navhover ul.meteor-nav {
    display: inline;
}
ul.meteor-nav li {
    display: inline;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}
.meteor-nav .prev a {
    left: 10%;
}
.meteor-nav .next a {
    right: 10%;
}
.meteor-slides .meteor-nav a {
    border: none;
    outline: none;
    display: block;
    height: 41px;
    position: absolute;
    bottom: 50px;
    text-indent: -9999px;
    width: 31px;
    transition: all 0 ease 0;
    z-index: 998;
}
.meteor-nav .prev a {
    background: url('images/prev.jpg') no-repeat center right;
}
.meteor-nav .prev a:hover {
    background: url('images/prev.jpg') no-repeat center left;
}
.meteor-nav .next a {
    background: url('images/next.jpg') no-repeat center left;
}
.meteor-nav .next a:hover {
    background: url('images/next.jpg') no-repeat center right;
}
* html .meteor-nav .prev a {
    background: url('images/prev.jpg') no-repeat center right; /* IE6 */
}
* html .meteor-nav .prev a:hover {
    background: url('images/prev.jpg') no-repeat center left; /* IE6 */
}
* html .meteor-nav .next a {
    background: url('images/next.jpg') no-repeat center left; /* IE6 */
}
* html .meteor-nav .next a:hover {
    background: url('images/next.jpg') no-repeat center right; /* IE6 */
}

