
select.gt_selector{
	width:100%;
}
/* Slider Styles */
.slideshow-controls {
	border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
	margin: 8px;
    display: flex;
		width: auto;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15);
	overflow: hidden;
	box-sizing: border-box;
}
#meteor-pause, #meteor-resume {
	border: 0px;
    display: flex;
		align-items: center;
	justify-content: center;
    background: #fff;
    color: #193662;
		cursor: pointer;
	font-size: 14px;
	line-height: 16px;
    width: 96px;
    text-align: center;
    padding: 8px 8px 8px 8px;
	transition: all 150ms ease-in-out;
}
#meteor-pause svg, #meteor-resume svg{
	fill: #193662 !important;
	height: 16px !important;
	display: inline-block;
	margin-top: -1px;
}
#meteor-pause.active, #meteor-resume.active{
	background: #193662;
	color: #fff;
	box-shadow: none;
}
#meteor-pause.active svg, #meteor-resume.active svg{
	fill: #fff !important;
}
.no-padding, #content.no-padding{
	padding:0px;
}
/* Front Page Styles */
.hcc-page-title-container {
    text-align: center;
    position: relative;
    padding: 2vw;
    display: block;
    background: #193662;
    margin-top: 24px;
}
.hcc-page-title-container h1{
	color:#fff;
	font-size: clamp(24px, 4vw, 48px);
	line-height: 1.2em;
}
/* Form Accessibility Styles */
input:focus, select:focus{
/* 	outline: 2px solid black; */
}
.entry-content.staff-directory .staff-entry a span{
	text-decoration: underline !important;
}
/* Accordion Accessibility Styles */
.hcc-accordion-btn{
	padding: 0px
}
.hcc-accordion-btn button, .hcc-accordion-btn button:visited, .hcc-accordion-btn button:focus{
	padding: 8px 16px;
	color: #fff;
	text-transform: uppercase !important;
	font-weight: bold;
}
.hcc-accordion-btn button:hover{
	text-decoration: underline;
}
.hcc-accordion-btn .c-accordion__content{
	padding: 10px 5px;
	font-size: 16px;
	line-height: 1.5em;
}
.hcc-accordion-btn .c-accordion__content ul li{
	font-size: 16px;
	line-height: 1.5em !important;
}
.hcc-accordion-btn.is-open button{
	background: #8b8989;
	color: #fff;
}
.hcc-accordion-btn button:hover{
	color: #fff;
	text-transform: uppercase !important;
	font-weight: bold;
}
.hcc-accordion-btn .c-accordion__title:after {
    display: none;
}
/* Footer Styles */
ul#menu-left-footer-menu {
    column-count: 2;
}
ul.social-icons {
    list-style: none;
    margin-left: 0;
    width: 100%;
    display: block;
    padding: 0;
}
.library-image img {
	max-width: none !important;
}
.library-image a {
	display:block;
}
#search_field {
	width:700px;
}

.color-white a {
	color: #fff !important;
}

.color-white a:focus {
	outline-color: #fff;
}
