
/*
* Block: team member
*/

ul.team-block {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}
ul.team-block li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 30px);
}
ul.team-block .team-block__member-name {
    font-size: 18px;
    padding: 0;
}
ul.team-block .team-block__member-position {
    margin-bottom: 10px;
    width: 100%;
}
ul.team-block .team-block__member-name,
ul.team-block .team-block__member-email {
    width: 100%;
}
/* less 1024px */
@media (max-width: 1024px) {
    ul.team-block {
        flex-direction: column;
        margin-bottom: 20px;
    }
    ul.team-block li {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}